@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  background-color: #111111;
  margin: 0;
  color: #F4F3EE;
  font-family: 'Inter';
  font-style: normal;
}

.bolden {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #F4F3EE;
}

.content .navbar-brand {
  margin-left: 2.5rem;
}

.content {
  margin-top: 1rem;
}